ChatMsgEdit {
    background-color: rgb(40, 40, 40);
    border: 2px solid rgb(56, 56, 56);
    border-radius: 5px;
}

ChatMsgEdit[focused="true"] {
    border: 2px solid rgb(118, 185, 237);
}

#textEdit {
    background-color: rgb(40, 40, 40);
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
}
