ChatMsgEdit {
    background-color: rgb(40, 44, 52);
    border: 2px solid rgba(255, 255, 255, 12);
    border-radius: 10px;
}

ChatMsgEdit[focused="true"] {
    border: 2px solid rgb(82, 139, 255);
}

#textEdit {
    background-color: rgb(40, 44, 52);
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
}
