SendMsgButton {
    background-color: transparent;
    border: 1px solid rgb(56, 60, 68);
    border-radius: 15px;
}

SendMsgButton:hover {
    background-color: rgba(255, 255, 255, 15);
}

SendMsgButton:pressed {
    background-color: rgba(255, 255, 255, 25);
}

SendMsgButton:disabled {
    background-color: transparent;
}
